#pytest==4.0.1
#pytest-allure-adaptor==1.7.10
allure-pytest==2.8.6
pytest==5.2.2
pytest-html==1.19.0
pytest-metadata==1.7.0
pytest-rerunfailures==5.0
requests==2.18.4
Jinja2==2.10
pithy==0.0.3
pithy-test==0.0.16
pymongo==3.6.1
PyMySQL==0.9.2
redis==2.10.6
pithy-test==0.0.16
